<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.MixedReality.EyeTracking" version="1.0.2" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="WatsonWebsocket" version="4.1.2" manuallyInstalled="true" />
</packages>